<section class="settingsForm">
    <h3>Repo settings:</h3>
    <toaster-container></toaster-container>

    <form (ngSubmit)="submit()" class="form-inline">
        <div class='project-settings' *ngFor="let setting of settings; let i = index">
            <h3 >{{setting.getName()}}{{showSaved}}</h3>

            <div class='project-settings' *ngFor="let project of setting.getSettings(); let j = index">
                <div class="form-group">
                    <label>{{project.getName()}}</label>
                    <input  [(ngModel)]="project.enabled" type="checkbox" name="enabled_field{{i}}-{{j}}"  class="form-control">
                </div>

            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
