<div class="container-fluid row">
    <div *ngFor="let build of successBuildsArray">
        <pending-item [build]="build"></pending-item>
        <failed-item [build]="build"></failed-item>
        <success-item [build]="build"></success-item>
    </div>
</div>
